@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

/* nav-bar */
.one{
    font-size: 13.5px;
    font-weight: 600;
    color: #506683;
    background-color: #F7F6F4;
    height: 70px;
}

/* first-div */
.first-div{
    background-image: url(images/val-banner_bk99je.png);
}

.firstdd{
    font-size: 14.5px;
    font-weight: 600;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.first-div h1{
    font-size: 33px;
    font-weight: 700;
    color: #EE120D;
    font-family: "Noto Serif Display", serif;
    margin-top: 50px;
    overflow-y: hidden;
}

.hand{
    margin-left: 190px;
    margin-top: 80px;
}

/* third div */
.third-parent{
    display: flex;
    justify-content: space-between;
}

.third-parent h3{
    font-size: 30px;
    font-weight: 600;
    color: #384A62;
    font-family: "Noto Serif Display", serif;
}

.third-parent a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #D77F81;
    margin-top: 15px;
}

.work{
    overflow: hidden;
    transition-duration: 0.3s;
}

.work img:hover{
    scale: 110%;
}

.third-parents img{
    width: 100%;
    height: 230px;
    transition: transform 0.5s ease;
}

.third-parents img:hover{
    cursor: pointer;
}

.third-parents h5{
    font-size: 16px;
    font-weight: 700;
    color: #384A62;
    margin-bottom: 20px;
}

.third-parents span{
    font-size: 12.8px;
    font-weight: 700;
    color: #708095;
}

.third-parents p{
    font-size: 20px;
    font-weight: 700;
    color: #384A62;
    margin-top: 10px;
}

.third-parents a{
    background-color: #D77F81;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 8px;
}

.third-parents a:hover{
    background-color: #D77F81;
    /* transform: translateX(10px); */
}

#arrow{
    margin-left: 10px;
    transition: transform 0.3s ease; 
}

#arrow:hover{
    transform: translateX(10px);
}

/* 4th body */
.fourth-parent{
    display: flex;
    justify-content: space-between;
}

.fourth-parent h3{
    font-size: 30px;
    font-weight: 600;
    color: #384A62;
    font-family: "Noto Serif Display", serif;
}

.fourth-parent a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #D77F81;
    margin-top: 15px;
}

.fourth-parents img{
    width: 100%;
    height: 230px;
    transition: transform 0.3s ease; 
}

.fourth-parents img:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.fourth-parents h5{
    font-size: 16px;
    font-weight: 700;
    color: #384A62;
    margin-bottom: 20px;
}

.fourth-parents span{
    font-size: 12.8px;
    font-weight: 700;
    color: #708095;
}

.fourth-parents p{
    font-size: 20px;
    font-weight: 700;
    color: #384A62;
    margin-top: 10px;
}

.fourth-parents a{
    background-color: #D77F81;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 8px;
}

.fourth-parents a:hover{
    background-color: #D77F81;
    /* transform: translateX(10px); */
}

/* 5th body */
.fifth-parent h1{
    font-size: 30px;
    font-weight: 700;
    color: #384A62;
    font-family: "Noto Serif Display", serif;
}

.fifth-parent p{
    font-size: 20px;
    font-weight: 600;
    color: #506683;
}

/* 6th body */
.sixth-body{
    background-color: #EDF6FD;
    padding: 70px;
}

.sixth-parent h2{
    font-size: 25px;
    font-weight: 700;
    color: #384A62;
    font-family: "Noto Serif Display", serif;
}

.sixth-parent h5{
    font-size: 14px;
    font-weight: 600;
    color: #384A62;
}

.sixth-parent p{
    font-size: 15px;
    font-weight: 400;
    color: #384A62;
}

.sixth-parent a{
    text-decoration: none;
}

/* 7th body */
.seventh-body{
    margin-bottom: 80px;
}

.seventh-body h1{
    font-family: "Noto Serif Display", serif;
    font-size: 27px;
    font-weight: 700;
    color: #384A62;
    margin-top: 110px;
    margin-bottom: 20px;
}

.seventh-body h6{
    font-size: 15px;
    font-weight: 600;
    color: #384A62;
}

.seventh-body p{
    font-size: 15.5px;
    font-weight: 400;
    color: #677F9E;
}

/* 8th body */
.eight-body{
    background-color: #F7F6F4;
    padding: 75px;
}

.eight-body h2{
    font-size: 27px;
    font-weight: 700;
    color: #384A62;
    font-family: "Noto Serif Display", serif;
}

.eight-body a{
    font-size: 15px;
    font-weight: 600;
    color: #384A62;
}

/* 9th body */
.ninth-body{
    background-color: #384A62;
    padding: 70px;
}

.ninth-body h6{
    font-size: 18px;
    font-weight: 600;
    color: #ECE8D9;
    margin-bottom: 20px;
}

.ninth-body p{
    line-height: 10px;
}

.ninth-body a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

/* 10th body */
.tenth-body{
    padding: 30px;
    background-color: #CBCAC8;
    text-align: center;
    height: 90px;
}

.tenth-body p{
    font-size: 17px;
    font-weight: 400;
    color: #384A62;
}

/* small */
.endb{
    background-color: rgb(241, 41, 128);
    color: white;
    width: 125px;
    height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    top: 545px;
    left: 10px;
}

.endb p{
    margin-top: 7px;
    margin-left: 15px;
    margin-bottom: 5px;
    color: white;
}

.endb:hover{
    cursor: pointer;
}